<a href="https://colab.research.google.com/github/birkofcz/_curling/blob/main/WCT%20Prague.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Curling - analýza

##Engine

In [5]:
# install SQL
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.3 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [6]:
import numpy as np
import pandas as pd
import sqlalchemy
import matplotlib.pyplot as plt
import plotly.express as px

## Test importu

In [19]:
url = "https://github.com/birkofcz/_curling/blob/e21a462054e4eaf643a37d4e6ff1d6519508c59b/test.csv"

wct_prague_df = pd.read_csv(url)

ParserError: ignored

In [28]:
# Input

data_file = "Competition.csv"

# Delimiter
data_file_delimiter = ','

# The max column count a line in the file could have
largest_column_count = 0

# Loop the data lines
with open(data_file, 'r') as temp_f:
    # Read the lines
    lines = temp_f.readlines()

    for l in lines:
        # Count the column count for the current line
        column_count = len(l.split(data_file_delimiter)) + 1
        
        # Set the new most column count
        largest_column_count = column_count if largest_column_count < column_count else largest_column_count

# Generate column names (will be 0, 1, 2, ..., largest_column_count - 1)
column_names = [i for i in range(0, largest_column_count)]

# Read csv
df = pd.read_csv(data_file, header=None, delimiter=data_file_delimiter, names=column_names)

df.head(30)

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,Event,Iwct 2022 Prague,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Venue,Prague,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Team,Czech Republic Wheelchair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,14. 10. 2022 6:31:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Game Info,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,14. 10. 2022 7:00,Held At,Prague,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Our Team:,Czech Republic Wheelchair,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Fourth,Dana,Selnekovicova,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Third,Martin,Tluk,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Second,Milan,Bartunek,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Lead,Jana,Brincilova,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Opposition:,Sweden2,Not recorded,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hammer,true,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,End,123456Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Score Us,0220116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Score Them,2002004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,End Goal,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Game,NaN,End,NaN,Shot,Name,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Tolerance,NaN,NaN,NaN,NaN,NaN
18,#,Hammer,#,Hammer,#,First,Last,Type,Difficulty,Turn,...,Tick,Weight,Pick,Notes,Center X,Center Y,Width,Height,NaN,NaN
19,3,true,1,true,1,Opposition,Lead,11,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3,true,1,true,2,Jana,Brincilova,11,1,0,...,0,1,0,Hogged Stone\n,NaN,NaN,NaN,NaN,NaN,NaN
21,3,true,1,true,3,Opposition,Lead,6,0,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,true,1,true,4,Jana,Brincilova,7,1,1,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,3,true,1,true,5,Opposition,Second,7,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3,true,1,true,6,Milan,Bartunek,7,2,1,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,3,true,1,true,7,Opposition,Second,16,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,true,1,true,8,Milan,Bartunek,0,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3,true,1,true,9,Opposition,Third,7,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,3,true,1,true,10,Martin,Tluk,0,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3,true,1,true,11,Opposition,Third,7,1,1,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN